node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.terraform/
.DS_Store/
.idea/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
__pycache__/
.vscode/
.env